.child_div1 {

    width: 300px;
    height: 20%;
    /* border: solid red 5px; */

}

.child_div1 img {
    width: 100%;
    height: 350px;
    margin-top: -25px;

}

.child_div1 a {
    font-family: sans-serif;
    font-size: 24px;
    line-height: 30px;
    width: 400px;
    text-align: center;
    height: 500px;
}

.child_div1 {
    font-family: sans-serif;
    font-size: 24px;
    line-height: 30px;
    width: 400px;
    text-align: center;
    height: 500px;
}

.title {

    Color:
        #485259;
    font-weight: 700;
    text-decoration: none;

}

.child_div_btn {
    background-color: #d90431;
    border: none;
    height: 45px;
    width: 150px;
    border-radius: 50px;
    margin-top: 0px;
    color: azure;

}

.nutrients {
    margin-top: -5px;
    font-size: 16px;
    font-weight: 200;
    line-height: 25px;
    color:
        #485259;
        margin-top: 10px;

}
.card-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.title:hover{
color: #d90431;
text-decoration: underline;
}
.child_div_btn:hover{
    background-color: red;
    color: aliceblue;

}
#title_menu{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: 
    
    #004f71;
}
#title_div{
    margin-left: 35%;
    margin-top: 50px;
}
#title_p{
    /* margin-top: -25px; */
    margin-left: 60px;
    color: 
    
    #6d787e;
    size: 14px;
}
#trademark {
    position: relative;
    top: -0.4em;
    font-size: 0.8em;
    font-family: sans-serif;
    font-weight: 700;
    line-height: 58px;
}
#nav_links{
    margin-top: 70px;
   
   height: 70px;
   
   display: flex; 
  justify-content: center; 
  align-items: center; 
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
}
#nav_links a{
    margin-left: 60px;
    font-family: sans-serif;
    font-weight: 550;
    font-size: 18px;
    line-height: 18px;
    
Color:

#dd0031;
text-align: center;
text-decoration: none;
}
#nav_links a:hover{
    text-decoration: dashed;
}

