#userData {
  /* border: 1px solid red; */
  width: 25%;
  margin: auto;
  margin-top: 2%;
  padding: 2%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 3%;
  background-color: rgb(223, 17, 17);
}
h1 {
  margin: auto;
  text-align: center;
}
p {
  margin-bottom: 2%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#enteredEmail,
#enteredPassword {
  width: 98%;
  height: 1.4vw;
}
#submit {
  margin-top: 5%;
  width: 100%;
  padding: 2%;
  border-radius: 1vw;
  font-weight: bold;
  background-color: rgb(39, 108, 218);
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  color: white;
}
#submit:hover {
  cursor: pointer;
  background-color: white;
  color:  rgb(223, 17, 17);
  font-size: 20px;
}
