/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */

#main-container{
    width: 55%;
    height: 450px;
    margin: auto;
    margin-top: 30px;
    /* margin-bottom: 25px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* padding: 20px ; */
  }
  #container{
   display: flex;
   
  }
  #signup-logo{
    height: 337px;
     width:30%;
     display: grid;
     grid-template-rows: repeat(3,1fr); 
     /* gap: 5px; */
     background-color: #fbfbfb;
     
  }
  #signup-logo>div{
    height: 24vh;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: grey;
    background-color:#fbfbfb;
    
  }
   #signup-logo>div h3{ 
    margin-bottom: -1px;
    font-size: 16px;
  } 
  #signup-logo>div img{
    margin-bottom: -10px;
    background-color:  #fbfbfb;
  }
  #signup-from{
    width: 70%;
     display: flex;
     justify-content: center;
     align-items: center;
  
  }
  #form{
    width: 70%;
    margin: auto;
  }
  #form label{
    
    margin-bottom: 20px;
    color: grey;
    font-size: 13px;
  }
  #form>input{
    width: 80%;
     
    outline:none;
    border: none;
    border-style: none; 
   font-weight:bold;
   font-size: 12px;
   color: grey;
   font-weight: 200;
  }
  #form button{
    width: 100%;
    height:45px;
    margin-top: 20px;
    background-color:#cc062b;
    border: none;
    font-size: 17px;
    color:white;
    font-weight: bolder;
    border-radius: 15px;
    transition: width 2s;
    

  }
  #form button:hover{
    height: 46px;
    cursor: pointer;
  }
  #form h4{
    margin-left: 74px;
    margin-top: 10px;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: grey;
    font-weight:400;
  }
  #form a{
    
    text-decoration: none;
    color:#cc062b ;
    cursor: pointer;
    padding: 10px 15px 10px 15px;

  }
  #form label{
   margin-bottom: 15px;
  }

  #signup-logo{
  font-size: 14px;
 }
 /* form css ends here */
 /* login start here */

 .btn-login{
  padding: 10px 15px;
  background-color: black;
  color: white;
  cursor: pointer;
}
.overlay{
  width: 100%;
  position: fixed;
  top:0%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  z-index: -1;
  transition: 1s;
}
.showoverlay{
  opacity: 1;
  z-index: 1;
}
.closeoverlay{
  z-index: -1;
  opacity: 0;
}
.loginform{
  width: 452px;
  height: 309px;
  background-color: white;
  padding: 25px 40px 25px 40px ;
  position: absolute;
  transition: 1s;
  left: 50%;
  top: -50%;
  transform: translate(-50%,-50%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 9;

}
.loginform h4{
  margin-left: 63px;
  color: grey;
  font-size: 15px;
}
.loginform a{
  text-decoration: none;
  color:#cc062b ;
  font-size: 13px;
}
form input{
  outline: none;
  border: none;
}
.login-line{
  margin-top: -15px;
}
.loginform button{
  display: inline;
  text-align: center;
  margin-left: 8em;
  font-size: 16px;
  color: white;
  margin-top: 12px;
  width: 10em;
  border-radius: 15px;
  background-color: #cc062b;
  padding: 15px;
  border: none;
}
.showloginform{
 top:50% ;
 border-radius: 19px;
}
.closeloginform{
  top: -50px;
  z-index: 0;
  transition: 3s;
}
.loginform input{
  width: 100%;
  height: 35px;
  margin-bottom: 15px;
}
/* .loginform  button{
  font-size: 20px;
} */

.loginform span{
  border-radius: 4px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
  background-color:#cc062b;
  text-align:center;
  line-height: 30px;
  color: white;
  cursor: pointer;

}
/* navbar start here */

/* footer start here */

#container-six{
  height: 70vh;
  margin:auto;
  margin-top: 70px;
  

}
#container-six img{
    width: 100%;
}
#container-six div{
  width: 500px;
    font-weight: 400;
    max-height: 500px;
    margin: auto;
    position: absolute;
    text-align: center;
    font-size: 1.0rem;
    color: #485259;
    font-family: apercu,sans-serif;
    position: relative;
    bottom: 430px;
    left: 350px;
}
#container-six div a:last-child{
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 15%);
  background: #fff;
  color:white;
  display: inline-block;
  width: auto;
  border-radius: 24px;
  cursor: pointer;
  font-variant-ligatures: none;
  transition: all .5s ease-in-out;
  padding: 15px 19px;
  line-height: 1;
  font-weight: 600;
  font-family: apercu,sans-serif;
  letter-spacing: -.5px;
  position: relative;
  text-align: center;
  text-decoration: none;
  margin: auto;
  background-color:#dd0031 ;
  margin-top: 30px;
  
}
#container-six>div h2{
  margin-top: 20px;
}

#footer-page{
  height: 20vh;
  margin:auto;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
#footer-page>div>ul{
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
#footer-page>div:last-child{
  width: 35%;
  height: 80px;
  margin-top: 30px;
 
}
#footer-page>div:first-child{
  /* width: 35%; */
  height: 100px;
  margin-top: 25px;
}
#footer-page>div:first-child >p{
   margin-top:5px ;
   font-size: 13px;
   margin-left: 35px;
}
#footer-page>div>ul li a{
  text-decoration: none;
  list-style: none;
  color: #dd0031;
  cursor: pointer;
  font-weight: 600;
  font-family: apercu,sans-serif;
}
#footer-page>div>ul li{
  list-style: none
}
#footer-page>div:last-child>img{
  width: 35px;
  height: 35px;
  
}

/* footer end here */

