
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,700;1,600;1,700&family=Nanum+Gothic:wght@400;700;800&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&family=Oxygen:wght@700&family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* nav {
    overflow-x: auto;
    overflow-y: hidden;
  } */
body{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
   
}

nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #fff;
    padding: 20px 40px;
    display: flex;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
    /* border: 1px solid; */
    /* align-items: center; */
    text-align: center;
}

.logo{
   width: 150px;
   height: 50px;
   margin-top: -11px;
}

#navigation{
    /* border: 1px solid red; */
    margin-left: 420px;
    /* justify-content: space-evenly; */
}

#nav-group{
    display: flex;
    align-items: center;
    /* border: 2px solid; */
    justify-content: space-around;
    
}

nav ul {
    position: relative;
    display: flex;
    gap: 30px;
   
    
}

nav ul li{
    list-style: none;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    font-size: 1em;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

nav ul li a::before{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 50%;
    height: 2px;
    background: #333;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}

nav ul li a:hover:before {
    transform: scaleX(2);
    transform-origin: left;
}

nav #search-icon{
    display: flex;
    font-size: 1.9em;
    z-index: 10;
    cursor: pointer;
    margin-left: 350px;

}

#search-box{
    position: absolute;
    /* left: 0; */
    right: -100%;
    width: 100%;
    height: 50px;
    display: flex;
    background: #fff;
    align-items: center;
    padding: 0 30px;
    transform: 0.5s ease-in-out;
    margin-top: -11px;
}

#search-box.active{
    right: 0;
    
}

#search-box input{
    width: 100%;
    border: none;
    outline: none;
    height: 60px;
    color: #333;
    font-size: 1.25em;
    background: #fff;
    /* margin-top: -5px; */
    /* box-shadow: ; */
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.searchbtn.active {
    left: 0;
}



.searchbtn{
    position: relative;
    left: 100px;
    /* top: 2.5px; */
    transition: 0.5s ease-in-out;
}

.closehbtn.active{
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    scale: 1;
}

.closehbtn{
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    scale: 0;
}

#sign-in{
    display: flex;
    /* border: 1px solid; */
    margin-left: 1080px;
    position: absolute;
    margin-top: 4px;
}

#sign-in a {
    text-decoration: none;
    color: red;
}

#order-button{
    position: absolute;
    /* border: 2px solid red; */
    margin-left: 1200px;
    width: 130px;
    height: 50px;
    margin-top: -15px;
    text-align: center;
    border-radius: 25px;
    background-color: rgb(223, 24, 24);
    cursor: pointer;
    margin-top: -12px;
}

#order-button h4{
    font-size: 20px;
    margin-top: 13px;
    color: white;
    cursor: pointer;
}
#order-button button{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

#order-button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
